Repository awesome-selfhosted/awesome-selfhosted, pull requests merged in 2018-02, with the labels that each got.

#1314 Buddy Go is no longer free
  README.md
  non-free.md
Labels: fix, non-free

#1308 Add OpenMapTiles Server to non-free.md
  non-free.md
Labels: addition, fix, non-free

#1315 Fix GNU Mailman license
  README.md
Labels: fix

#1318 Miniflux 2 Go rewrite
  README.md
Labels: fix
